[submodule "TestData"]
	path = TestData
	url = ../VeloView-TestData.git
[submodule "Superbuild/common-superbuild"]
	path = Superbuild/common-superbuild
	url = git@github.com:genrad/paraview-common-superbuild.git
